@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #24231d44;
  border-radius: 100px;
}
