name: Deploy
run-name: Deploy
on:
  push:
    branches:
      - main
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Build docker image
        run: |
          echo "${{ secrets.ENVS }}" > .env
          docker build -t bravo680/onecoffee-web:latest .
      - name: Login to docker hub
        uses: docker/login-action@v3.2.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to docker hub
        run: docker push bravo680/onecoffee-web:latest
