name: Deploy
run-name: Deploy
on:
  push:
    branches:
      - main
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Build docker image
        env:
          BASE_URL: ${{ secrets.APP_BASE_URL }}
          NEXT_PUBLIC_GG_CLIENT_ID: ${{ secrets.APP_NEXT_PUBLIC_GG_CLIENT_ID }}
          ADMIN_DOMAIN: ${{ secrets.APP_ADMIN_DOMAIN }}
          HOST: ${{ secrets.APP_HOST }}
        run: |
          docker build -t bravo680/onecoffee-web:latest .
      - name: Login to docker hub
        uses: docker/login-action@v3.2.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to docker hub
        run: docker push bravo680/onecoffee-web:latest
