name: Test notify
on:
  push:
    branches: develop

jobs:
  Checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Notify to telegram
        uses: ./.github/actions/notify.yaml
        with:
          status: ${{ job.status }}
          project: test
